#full-clndr {
  width: 85%;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5em;
  padding-bottom: .5em;
}

.clndr-controls {
  padding: 0 .25em .25em .5em;
  color: black;
  text-align: center;
  font-size: 1.25em;
}

.clndr-previous-button {
  margin: 1em;
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.clndr-next-button {
  margin: 1em;
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.clndr-previous-button, .clndr-next-button {
  width: 1em;
  cursor: pointer;
}

.clndr-previous-button:hover, .clndr-next-button:hover {
  opacity: 0.3;
}

.header-day {
    float: none;
    width: 14.2857%;
    padding: .5em 1.5em .5em 1.5em;
    text-align: center;
    color: black;
  }

.day {
  background-color: black;
  border-radius: 25%;
  border: 5px solid white;
  color: #c4f3d3;
  width: 30px;
  height: 30px;
  }

.day, .empty {
    float: none;
    width: 14.2857%;
    text-align: center;
  }

.adjacent-month, .day-number {
    opacity: 0.3;
  }

.today {
    background-color: #c4f3d3;
    color: black;
  }

  td {
    padding: 1em 1em 1em 1em;
  }
