@charset "UTF-8";

h1, h2, h3 {
  font-family: 'Abril Fatface', cursive;
}

.fancy-text {
  font-family: 'Abril Fatface', cursive;
  padding: .5em;
}

.padded {
  padding: 1em;
}

#timeSlots table {
  border: 10px solid #c4f3d3;
}

#loginBG {
  background-color: black;
  background-image: url('../images/hairBG1.jpg');
  background-repeat: no-repeat;
   background-size: cover;
   height: 900px;
}

#login {
  padding-top: 10em;
  padding-bottom: 10em;
  width: 700px;
}

#login h1 {
  text-align: center;
  font-size: 4em;
  color: black;
}

#loginForm {
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: black;
  color: white;
}

#formBtns {
  padding-top: .25em;
}

nav {
  color: white;
  background-color: black;
}

nav a {
  color: white;
}

nav a:hover {
  color: #c4f3d3;
}

#landingBG {
  background-image: url('../images/hairBG2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#message {
  font-size: 5em;
  color: black;
}

#services {
  background-image: url('../images/service-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #c4f3d3;
}

#services h1 {
  font-size: 4em;
}

#appointments {
  background-color: black;
  color: white;
}

#today {
  color: #c4f3d3;
}

.card, #resetForm {
background-color: #c4f3d3;
}

.card {
  border: 8px solid black;
}

.whiteBG {
  background-color: white;
  color: black;
}

#helloMessage {
  font-size: 5em;
}

#stylists {
  background-color: black;
  color: white;
}

#stylists h3 {
  color:  #c4f3d3;
}
